.timeline__middle {
  position: relative;
  background: #000000;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point__bottom {
  top: initial;
  bottom: 0;
}
