@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.fadeIn {
  animation: 0.3s normal 0s 1 fadeInAnimation;
}

@keyframes commentAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 300;
  }
}

.commentShow {
  animation: 1s normal 0s 1 commentAnimation;
}

@keyframes featuredPulseAnimation {
  0% {
    color: #000;
  }
  100% {
    color: #ffad5c;
  }
}

.featuredPulse {
  animation: featuredPulseAnimation 1s normal forwards;
}