$font-family-base: "Calibri", serif;

$tertiary: #212529;
$dark: #f1eff1;
$primary: #da1e19;
$secondary: #4A5899;
$success: #00B4D8;

$theme-colors: (
  "tertiary": $tertiary,
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
);

$navbar-light-color: #000;
$navbar-light-hover-color: $primary;

$offcanvas-horizontal-width: auto;



$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 1.75rem,
  7: 2.5rem,
);

.about {
  display: inline-block;
}

.blogfolio {
  width: -webkit-fit-content;
}

.vb {
  border-bottom: thick solid $secondary;
}

.vl {
  border-left: thick solid $primary;
}

@import "../bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Tangerine");
