$font-family-base: "Calibri", serif;

$tertiary: #212529;
$dark: #f1eff1;
$primary: #da1e19;
$secondary: #4a5899;
$success: #00b4d8;

$theme-colors: (
  "tertiary": $tertiary,
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
);

$navbar-light-color: rgb(0, 0, 0);
$navbar-light-hover-color: $primary;

$offcanvas-horizontal-width: auto;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 1.75rem,
  7: 2.5rem,
);

.myToast {
  @extend .badge;
  @extend .text-white;
  @extend .text-bg-success;
  @extend .position-fixed;
  @extend .bottom-0;
  @extend .end-0;
  @extend .m-3;
  @extend .p-3;
  @extend .fs-5;
  z-index: 100;
}

.about {
  display: inline-block;
}

.vl {
  border-left: 5px solid $primary;
}

.bl {
  border-bottom: 5px solid $secondary;
}

.blogfolio {
  @extend .bl;
  @extend .mx-auto;
  width: -webkit-fit-content;

  p {
    @extend .fw-bold;
    @extend .text-center;
    @extend .mx-4;
    @extend .mb-0;
    @extend .display-1;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $tertiary;
}

@import "../bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Tangerine");
