.tall1 {
  height: 92vh;
}

.tall2 {
  height: 100vh;
}

$font-family-base: "Arial", serif;

$tertiary: #212529;
$dark: #f1eff1;
$primary: #ea4e48;
$secondary: #9fa8d1;
$success: #5ce4ff;

$theme-colors: (
  "tertiary": $tertiary,
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "Latest": #4db7d1,
  "Featured": #ffad5c,
  "Gym": #81c45a,
  "Project": #9468a1,
  "Achievement": #da81ac,
  "General": #c4a484,
);

.primary {
  color: $primary;
}

$input-group-addon-bg: $dark;

$navbar-light-color: rgb(0, 0, 0);
$navbar-light-hover-color: $primary;

$offcanvas-horizontal-width: auto;

$font-size-base: 0.9375rem;

$font-sizes: (
  1: $font-size-base * 1.75,
  2: $font-size-base * 1.66,
  3: $font-size-base * 1.33,
  4: $font-size-base * 1.25,
  5: $font-size-base * 1.2,
  6: $font-size-base * 1.1,
  7: $font-size-base * 0.8,
);

$display-font-sizes: (
  1: $font-size-base * 2.75,
  2: $font-size-base * 2.25,
  3: $font-size-base * 2,
  4: $font-size-base * 1.75,
  5: $font-size-base * 1.66,
  6: $font-size-base * 1.33,
);

.myToast {
  @extend .badge;
  @extend .text-white;
  @extend .text-bg-success;
  @extend .position-fixed;
  @extend .bottom-0;
  @extend .end-0;
  @extend .m-3;
  @extend .p-3;
  @extend .fs-5;
  @extend .fadeIn;
  z-index: 100;
}

.about {
  display: inline-block;
}

.vl {
  border-left: 5px solid $primary;
}

.bl {
  border-bottom: 5px solid $secondary;
}

.blogfolio {
  @extend .bl;
  @extend .mx-auto;
  width: -webkit-fit-content;

  p {
    @extend .fw-bold;
    @extend .text-center;
    @extend .mx-4;
    @extend .mb-0;
    @extend .display-1;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $tertiary;
}

@import "./animations.scss";
@import "../bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Tangerine");
