@import "./bootstrap.scss";
@import "./animations.scss";
@import "./scrollbar.scss";

@import url("https://fonts.googleapis.com/css?family=Tangerine");

.tab {
  text-indent: 40px;
}

.firstSection {
  height: 92vh;
}

.section {
  height: 100vh;
}

.myToast {
  @extend .badge;
  @extend .text-white;
  @extend .position-fixed;
  @extend .bottom-0;
  @extend .end-0;
  @extend .m-3;
  @extend .p-3;
  @extend .fs-5;
  @extend .fadeIn;
  z-index: 100;
}

.about {
  display: inline-block;
}

.vl {
  border-left: 5px solid $primary;
}

.bl {
  border-bottom: 5px solid $secondary;
}

.blogfolio {
  @extend .bl;
  @extend .mx-auto;
  width: -webkit-fit-content;

  p {
    @extend .fw-bold;
    @extend .text-center;
    @extend .mx-4;
    @extend .mb-0;
    @extend .display-1;
  }
}
